@font-face {
    font-family: 'B Koodak Outline';
    src: url('BKoodakOutline.woff2') format('woff2'),
        url('BKoodakOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

