* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
body{
    background-image: linear-gradient(to right, #73e1f3, #fcd196);
}

#Button1 {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    background-image: repeating-linear-gradient(135deg, #f2b5d4 0%, #f2b5d4 10%, #f7d6e0 10%, #f7d6e0 20%, #eff7f6 20%, #eff7f6 30%, #b2f7ef 30%, #b2f7ef 30%, #7bdff2 40%, #7bdff2 50%);
    box-shadow: 0 0 7px pink;
}

#Button2 {
    width: 250px;
    height: 30px;
    margin: 30px auto;
    display: block;
    background-image: linear-gradient(to right, #3993e4, #e86fae);
    color: white;
    font-family: sans-serif;
    border-radius: 80px;
    font-size: 16px;

}


#Button3 {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.286);
    border-radius: 7px;
    margin: 30px auto;
    display: block;
    background-image: linear-gradient(to right, #f6f552, #28fe41);
    color: white;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.286);

}
#pdiv{
    height: 200px;
    display: flex;
    justify-content: space-around;

}

.cdiv{
    height: 120px;
    width: 320px;
}
#div1{
    background-image: linear-gradient( black 0%, black 33.33%, #dd0000 33.33%, #dd0000 66.66%, #ffce00 66.66% ,#ffce00 100%);
}
#div2{
    background-image: linear-gradient( #ae1c28 0%, #ae1c28 33.33%, #ffffff 33.33%, #ffffff 66.66%, #21468b 66.66% ,#21468b 100%);
}

#div3{
        background-image: linear-gradient(to right, black 0%, black 33.33%, #fdda25 33.33%, #fdda25 66.66%, #ef3340 66.66% ,#ef3340 100%);
}
#div4{
    background-image: linear-gradient(to right, #002653 0%, #002653 33.33%, white 33.33%, white 66.66%, #ce1127 66.66% ,#ce1127 100%);
}
